<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Login Page | MaLab Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="{{url_for('static', filename='assets/i/favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/amazeui.min.css')}}" />
    <style>
        .header {
            text-align: center;
        }
        
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        
        .header p {
            font-size: 14px;
        }
    </style>
</head>

<body>

    <div class="am-vertical-align" style="height:600px;">
        <div class="am-g  am-vertical-align-middle">
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-centered">
                <h1>Administrator</h1>
                <hr> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}{% endif %}{% endwith %}
                <br>
                <form method="POST" class="am-form" action="/login">
                    {{ form.csrf_token }}
                    <label for="email">{{ form.username.label }}</label> {{ form.username() }}
                    <br>
                    <label for="password">{{ form.password.label }}</label> {{ form.password() }}
                    <br>
                    <div class="am-cf">
                        {{ form.submit( class="am-btn am-btn-primary am-btn-sm am-fl") }}
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>