{% extends 'admin/admin-layout.html' %} {% block content %}
<div class="am-g">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            <strong class="am-text-success am-text-lg">Members</strong>
        </div>
    </div>
    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#undergraduate">Undergraduates</a></li>
            <li><a href="#master">Masters</a></li>
            <li><a href="#phd">Ph.D Candidates</a></li>
            <li><a href="#postdoc">Postdoctors</a></li>
            <li><a href="#alumni">Alumini</a></li>
            <li><a href="#researcher">Researchers</a></li>
        </ul>
        <div class="am-tabs-bd" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-tab-panel am-fade am-active am-in" id="undergraduate">
            </div>
            <div class="am-tab-panel am-fade am-active am-in" id="undergraduate">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal" method=post action="{{ url_for('main.add_members') }}">
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">Name</label>
                            <div class="am-u-sm-9">
                                {{ form.name() }}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">E-mail</label>
                            <div class="am-u-sm-9">
                                {{ form.email() }}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">School/Institution</label>
                            <div class="am-u-sm-9">
                                {{ form.location() }}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">Degree</label>
                            <div class="am-u-sm-9">
                                {{ form.degree()}}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">Category</label>
                            <div class="am-u-sm-9">
                                {{ form.category() }}
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">Personal Websites</label>
                            <div class="am-u-sm-9">
                                {{ form.site() }}
                            </div>
                        </div>

                        <div class="am-form-group ">
                            <div class="am-u-sm-9 am-u-sm-push-3 ">
                                {{ form.submit( class="am-btn am-btn-primary am-btn-sm am-fl ") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}