{% extends 'layout.html' %}{% block content %}
<div class="news-body">
    <div class="intro">
        <h4 class="sub-title">Opening</h4>
        <p>Our group has been established in September 2015 and we are looking for motivated students, postdocs and researchers to join us.<br> Please feel free to contact me if you are interested in our work. </p>
    </div>
    <div class="intro">
        <h4 class="sub-title">Contact Information</h4>
        <div class="block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2391.0557127717016!2d118.77864333976432!3d32.05671244937812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1457096052111" width="400" height="400" frameborder="0" style="border:0"
                align="right" allowfullscreen></iframe>
            <div class="item">
                National Laboratory of Solid State Microstructures
                <br> School of Physics
                <br> Collaborative Innovation Center of Advanced Microstructures
                <br> Nanjing University, Nanjing 210093, China
            </div>
            <h3>Address</h3>
            <div class="item"> 22 Hankou, Nanjing, Jiangsu<br>210093</div>
            <h3>Contact</h3>
            <div class="item"> xiaosong.ma@nju.edu.cn</div>
            <div class="item"> (86)-025-83592270 (Professor Office)<br>(86)-025-83596968 (Student Office)</div>
        </div>
    </div>

</div>
{% endblock %}