{% extends "layout.html" %} {% block content %}
<div class="news-body">
    <table class="am-table am-table-bd am-table-striped admin-content-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>News & Events</th>
            </tr>
        </thead>
        <tbody>
            {% for news in news_list %}
            <tr>
                <td>{{news.date}}
                </td>
                <td> <a href="news/{{ news.id }}" class="newstitle">{{ news.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul data-am-widget="pagination" class="am-pagination-centered  am-pagination am-pagination-default">
        <li class="am-pagination-prev ">
            <a href="" class="">Previous</a>
        </li>
        <li><a class="">1</a></li>
        <li><a class="">2</a></li>
        <li><a class="">3</a></li>
        <li class="am-pagination-next ">
            <a href="" class="">Next</a>
        </li>
    </ul>
</div>
{% endblock %}