{% extends "layout.html" %} {% block content %}
<div class="publication-body am-g">
    <div class="am-show-sm-only am-u-sm-12" style="border-bottom: 1px solid #DDD;
	margin-bottom: 10px;">
        <ul class="am-nav">
            <li class="sub-title">Contents</li>
            <li><a class="pub-active" href="/publication/index.html">All</a></li>
            <li><a href="/publication/2016.html">2016</a></li>
            <li><a href="/publication/2015.html">2015</a></li>
            <li><a href="/publication/2014.html">2014</a></li>
            <li><a href="/publication/2013.html">2013</a></li>
            <li><a href="/publication/2012.html">2012</a></li>
            <li><a href="/publication/2011.html">2011</a></li>
            <li><a href="/publication/2010.html">2010</a></li>
            <li><a href="/publication/2009.html">2009</a></li>
            <li><a href="/publication/2006.html">2006</a></li>
            <li><a href="/publication/2005.html">2005</a></li>
        </ul>
    </div>
    <hr/>
    <div class="am-u-md-10 am-u-md-push-2 am-u-sm-12">
        <div class="am-g">
            <ul class="papers">


                <div>
                    <li>
                        <p>Menno Poot, Carsten Schuck, Xiao-song Ma, Xiang Guo, and Hong X. Tang. <strong><i>Design and characterization of integrated components for SiN photonic quantum circuits</i></strong>. Optics Express, Vol. 24, Issue 7, pp. 6843-6860.
                            (2016).
                            <a class="papers-link" href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-24-7-6843">Article</a>

                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, J. Kofler, & A. Zeilinger. <strong><i>Delayed-choice gedanken experiments and their realizations</i></strong>. Reviews of Modern Physics, 88, 015005. (2016).
                            <a class="papers-link" href="http://journals.aps.org/rmp/abstract/10.1103/RevModPhys.88.015005">Article</a>
                            <a class="papers-link" href="http://arxiv.org/abs/1407.2930">arXiv</a>
                            <br> Media : <a href="http://news.nju.edu.cn/show_article_1_41357">Nanjing University</a>, <a href="http://phys.org/news/2016-03-great-smoky-dragon-quantum-physics.html">PhysicsOrg.com</a>, <a href="https://www.sciencedaily.com/releases/2016/03/160310111857.htm">ScienceDaily</a>,
                            <a href="http://www.oeaw.ac.at/en/austrian-academy-of-sciences/the-oeaw/article/der-grosse-rauchende-drache-der-quantenphysik/">ÖAW</a>, <a href="http://www.sciencenewsline.com/news/2016031019040069.html">Science Newsline</a>,
                            <a href="http://mp.weixin.qq.com/s?__biz=MzIyNDA2NTI4Mg==&mid=406554542&idx=3&sn=af2e005b02eda3aa38b6ccddd8795d6c&3rd=MzA3MDU4NTYzMw==&scene=6#rd">The-Intellectual</a>

                        </p>
                    </li>
                </div>


                <div>
                    <li>
                        <p>B. Dakic†, Y.-O. Lipp†, X. Ma†, M. Ringbauer†, S. Kropatschek, S. Barz, T. Paterek, V. Vedral, A. Zeilinger, C. Brukner, & P. Walther(†These authors contributed equally to this work.). <strong><i>Quantum discord as resource for remote state preparation</i></strong>.
                            Nature Physics, 8, 666-670. (2012).
                            <a class="papers-link" href="http://www.nature.com/nphys/journal/v8/n9/full/nphys2377.html">Article</a>
                            <a class="papers-link" href="http://arxiv.org/abs/1203.1629">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, S. Kropatschek, W. Naylor, T.Scheidl, J. Kofler, T. Herbst, A. Zeilinger, & R. Ursin. <strong><i>Experimental quantum teleportation over a high-loss free-space channel</i></strong>. Opt. Express, 20, 23126. (2012).
                            <a class="papers-link" href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-20-21-23126">Article</a>
                            <a class="papers-link" href="http://arxiv.org/1210.1282">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, S. Zotter, J. Kofler, R. Ursin, C. Brukner, T. Jennewein, & A. Zeilinger. <strong><i>Experimental delayed choice entanglement swapping</i></strong>. Nature Physics, 8, 480-485. (2012).
                            <a class="papers-link" href="http://www.nature.com/nphys/journal/v8/n6/full/nphys2294.html">Article</a>
                            <a class="papers-link" href="http://arxiv.org/abs/1203.4834">arXiv</a>
                            <br> Media : <a href="http://science.orf.at/stories/1697694/">ORF</a>, <a href="http://derstandard.at/1334795948466/Quantenwelt-Experiment-nimmt-auf-Vergangenheit-Einfluss">Der Standard</a>, <a href="http://www.wienerzeitung.at/themen_channel/wzwissen/natur/452735_Zukunft-beeinflusst-Vergangenheit.html">Wiener Zeitung</a>,
                            <a href="http://www.salzburg.com/nachrichten/wissen/sn/artikel/zukuenftige-handlungen-beeinflussen-vergangenheit-11826/?v=1335179659">Salzburger Nachrichten</a>, <a href="http://www.sciencedaily.com/releases/2012/04/120423131902.htm">ScienceDaily</a>,
                            <a href="http://phys.org/news/2012-04-quantum-physics-mimics-spooky-action.html">PhysOrg</a>, <a href="http://arstechnica.com/science/2012/04/decision-to-entangle-effects-results-of-measurements-taken-beforehand/">Ars Technica</a>,
                            <a href="http://www.azonano.com/news.aspx?newsID=24720">Azonano.com</a>

                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, S. Zotter, N. Tetik, A. Qarry, T. Jennewein, & A. Zeilinger. <strong><i>A high-speed tunable beam splitter for feed-forward photonic quantum information processing</i></strong>. Opt. Express, 19, 22723. (2011).
                            <a class="papers-link" href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-19-23-22723">Article</a>
                            <a class="papers-link" href="http://arxiv.org/1109.1762">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma†, B. Dakic†, W. Naylor, A. Zeilinger & P. Walther(†These authors contributed equally to this work.). <strong><i>Quantum simulation of the wavefunction to probe frustrated Heisenberg spin systems</i></strong>. Nature Physics,
                            7, 399-405. (2011).
                            <a class="papers-link" href="http://www.nature.com/nphys/journal/v7/n5/full/nphys1919.html">Article</a>
                            <a class="papers-link" href="http://arxiv.org/1008.4116">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, S. Zotter, J. Kofler, T. Jennewein, & A. Zeilinger. <strong><i>Experimental generation of single photons via active multiplexing</i></strong>. Phys. Rev. A, 83, 043814. (2011).
                            <a class="papers-link" href="http://journals.aps.org/pra/abstract/10.1103/PhysRevA.83.043814">Article</a>
                            <a class="papers-link" href="http://arxiv.org/1007.4798">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>T. Scheidl, R. Ursin, J. Kofler, S. Ramelow, X. Ma, T. Herbst, L. Ratschbacher, A. Fedrizzi, N. Langford, T. Jennewein & A. Zeilinger. <strong><i>Violation of local realism with freedom of choice</i></strong>. Proceedings of the
                            National Academy of Sciences, 107 19708-19713. (2010).
                            <a class="papers-link" href="http://www.pnas.org/content/107/46/19708">Article</a>
                            <a class="papers-link" href="http://arxiv.org/0811.3129">arXiv</a>
                            <br> Media : <a href="http://sciencestage.com/r/35-violation-local-realism-freedom-choice">Science Stage</a>, <a href="http://phys.org/news/2010-11-physicists-loopholes-violating-local-realism.html">PhysOrg</a>,
                            <a href="http://phys.org/news/2010-11-debunking-quantum-entanglement-loopholes.html">PhysOrg</a>, <a href="http://derstandard.at/1288160355658/Experiment-Spukhafte-Fernwirkung-besteht-haertesten-Test">darStandard.at</a>,
                            <a href="http://science.orf.at/stories/1667430/">ORF</a>

                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>T. Scheidl, R. Ursin, A. Fedrizzi, S. Ramelow, X. Ma, T. Herbst, R. Prevedel, L. Ratschbacher, J. Kofler, T. Jennewein & A. Zeilinger. <strong><i>Feasibility of 300 km quantum key distribution with entangled states</i></strong>.
                            New J. Phys., 11 085002. (2009).
                            <a class="papers-link" href="http://iopscience.iop.org/article/10.1088/1367-2630/11/8/085002/meta;jsessionid=FBB67B74B950347E1C7196AA870A52B5.c1.iopscience.cld.iop.org">Article</a>
                            <a class="papers-link" href="http://arxiv.org/1007.4645">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>X. Ma, A. Qarry, J. Kofler, T. Jennewein, & A. Zeilinger. <strong><i>Experimental violation of a Bell inequality with two different degrees of freedom of entangled particle pairs</i></strong>. Phys. Rev. A, 79, 042101. (2009).
                            <a class="papers-link" href="http://journals.aps.org/pra/abstract/10.1103/PhysRevA.79.042101">Article</a>
                            <a class="papers-link" href="http://arxiv.org/0904.3245">arXiv</a>
                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>S. S. R. Oemrawsingh, J. A. de Jong, X. Ma, A. Aiello, E.R. Eliel, G.W. ’t Hooft, J.P. Woerdman. <strong><i>High-dimensional analyzers for spatial quantum entanglement</i></strong>. Phys. Rev. A, 73, 032339. (2006).
                            <a class="papers-link" href="http://journals.aps.org/pra/abstract/10.1103/PhysRevA.73.032339">Article</a>

                            <br>
                        </p>
                    </li>
                </div>





                <div>
                    <li>
                        <p>S. S.R. Oemrawsingh, X. Ma, A. Aeillo, G.W. Hooft, E.R. Eliel, J.P. Woerdman. <strong><i>Experimental demonstration of fractional orbital angular momentum entanglement of two photons</i></strong>. Phys. Rev. Lett., 95, 240501.
                            (2005).
                            <a class="papers-link" href="http://journals.aps.org/prl/abstract/10.1103/PhysRevLett.95.240501">Article</a>

                            <br>
                        </p>
                    </li>
                </div>



                <div>
                    <li>
                        <p>E. Altewischer, X. Ma, M.P. van Exter, J.P. Woerdman. <strong><i>Fano-type interference in the direct imaging of subwavelength hole arrays</i></strong>. Opt. Lett., 30, 2436. (2005).
                            <a class="papers-link" href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-30-18-2436">Article</a>

                            <br>
                        </p>
                    </li>
                </div>


            </ul>
        </div>
    </div>

    <div class="am-u-md-2 am-u-md-pull-10 my-sidebar">
        <div class="am-offcanvas" id="sidebar" data-am-sticky="{top:10}">
            <div class="am-offcanvas-bar">
                <ul class="am-nav">

                    <li class="sub-title">Contents</li>


                    <li><a class="pub-active" href="/publication/index.html">All</a></li>
                    <li><a href="/publication/2016.html">2016</a></li>
                    <li><a href="/publication/2015.html">2015</a></li>
                    <li><a href="/publication/2014.html">2014</a></li>
                    <li><a href="/publication/2013.html">2013</a></li>
                    <li><a href="/publication/2012.html">2012</a></li>
                    <li><a href="/publication/2011.html">2011</a></li>
                    <li><a href="/publication/2010.html">2010</a></li>
                    <li><a href="/publication/2009.html">2009</a></li>
                    <li><a href="/publication/2006.html">2006</a></li>
                    <li><a href="/publication/2005.html">2005</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>



{% endblock %}